{
  "openapi": "3.1.0",
  "info": {
    "title": "True Markets Gateway API",
    "description": "Gateway API for the True Markets trading platform — unified order orchestration, quotes, transfers, and balance management across CeFi and DeFi venues. Recommended for most integrations.\n\n## Base URLs\n\n| Environment | Base URL |\n|---|---|\n| Production | `https://api.truemarkets.co/v1/conductor` |\n| UAT (sandbox) | `https://api.uat.truemarkets.co/v1/conductor` |\n\n> UAT is the testing environment. It may require VPN/allowlist access for some integrations — contact [support@truemarkets.co](mailto:support@truemarkets.co) if requests time out from a public network.\n\n## Authentication\n\nAll endpoints require a JWT access token in the `Authorization: Bearer <token>` header.\n\n### Getting credentials\n\n1. **Create an account** at [https://www.truemarkets.co](https://www.truemarkets.co) (passkey, email, magic link, or Sign in with Apple).\n2. **Register an API key** in your account's *API Keys* settings page. Generate an EC P-256 key pair locally and submit only the public key — the private key never leaves your machine. You'll receive a `key_id` (UUID).\n3. **Mint JWTs** by calling `POST /v1/auth/api-key/token` with `key_id`, a current `timestamp` (Unix seconds, within ±30s of server UTC time), and `signature` — an ES256 (ECDSA P-256 + SHA-256) signature of the message `{key_id}.{timestamp}`, base64url-encoded. The response returns `access_token` and `refresh_token`.\n4. **Call the Gateway** with `Authorization: Bearer <access_token>`.\n5. **Refresh** expired access tokens via `POST /v1/auth/token/refresh` with the `refresh_token` — no re-signing required.\n\n### Quick start\n\n```bash\n# Mint a JWT\ncurl -X POST https://api.truemarkets.co/v1/auth/api-key/token \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"key_id\":\"<UUID>\",\"timestamp\":<UNIX_SECONDS>,\"signature\":\"<BASE64URL_ES256_SIG>\"}'\n\n# Compute a quote\ncurl -X POST https://api.truemarkets.co/v1/conductor/quotes \\\n  -H \"Authorization: Bearer <ACCESS_TOKEN>\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"base\":\"BTC\",\"quote\":\"USD\",\"side\":\"buy\",\"quantity\":\"0.01\"}'\n```\n\n> Need to trade on a CeFi venue directly? CeFi direct FIX/REST/WS is institutional only — see the [CeFi Direct REST API](/apis/cefi-direct/rest/v1) reference. Retail traders reach CeFi via this Gateway, which proxies and signs the upstream HMAC for you.\n\n## Order lifecycle\n\nOrders move through a small set of statuses. The path depends on whether the venue and order type require client-side signing.\n\n1. **Create** — `POST /orders` with your trade params. The response always returns an `order_id` and a `status`.\n2. **Sign and execute** — for DeFi orders and CeFi buy orders that need a funding bridge, the create response returns `status: initialized` along with an array of unsigned `payloads`. Sign each payload locally with your private key and post the signatures to `POST /orders/{id}/execute`. The order then moves to `pending`.\n3. **Submitted directly** — for CeFi sell orders and sufficiently funded CeFi buy orders, the create response already returns `status: pending` with no `payloads`. The execute step is skipped.\n4. **Settle** — the order transitions out of `pending` to one of:\n    - `complete` — fully filled.\n    - `active` — limit order resting in the order book (can later move to `complete` or `canceled`).\n    - `canceled` — canceled by the user or rejected by exchange/market conditions.\n    - `failed` — rejected by the exchange or DeFi execution reverted.\n\nPoll `GET /orders/{id}/status` (or list orders) to track progression. The `payloads` field in the create response is the signal: if it's non-empty, you need to sign and call execute; if it's empty or absent, the order is already submitted.\n\n## Support\n- 💬 [Discord](https://discord.gg/SC92xRUZqw) — community and integration help\n- 📧 [support@truemarkets.co](mailto:support@truemarkets.co) — account, network, onboarding\n",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.truemarkets.co/v1/conductor",
      "description": "Production"
    },
    {
      "url": "https://api.uat.truemarkets.co/v1/conductor",
      "description": "UAT (sandbox)"
    }
  ],
  "tags": [
    {
      "name": "Quotes",
      "description": "Request real-time market quotes for trading pairs without creating an order."
    },
    {
      "name": "Orders",
      "description": "Create, execute, cancel, and monitor orders across CeFi and DeFi."
    },
    {
      "name": "Transfers",
      "description": "Create, execute, and monitor transfers across CeFi and DeFi."
    },
    {
      "name": "Assets",
      "description": "Browse the unified catalog of tradeable assets across DeFi and CeFi venues."
    },
    {
      "name": "Balances",
      "description": "Query account balances for the authenticated user."
    }
  ],
  "paths": {
    "/quotes": {
      "post": {
        "operationId": "computeQuote",
        "summary": "Compute market quote (CeFi only)",
        "description": "Non-binding price preview for a CeFi market order. For DeFi, the quote is returned by `POST /orders` (see `CreateOrderResponse.quote`).\n",
        "tags": [
          "Quotes"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quote computed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/orders": {
      "post": {
        "operationId": "createOrder",
        "summary": "Create new order",
        "description": "Creates a new order. For DeFi orders, returns unsigned payloads for client signing.",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "get": {
        "operationId": "listOrders",
        "summary": "List user orders",
        "description": "Returns a paginated list of completed and failed orders with execution data for the authenticated user",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of orders to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "RFC3339 timestamp cursor for pagination",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Comma-separated list of order statuses to filter by",
            "required": false,
            "schema": {
              "type": "string",
              "example": "pending,canceled"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Orders retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrdersResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/orders/{id}/execute": {
      "post": {
        "operationId": "executeOrder",
        "summary": "Execute pending order",
        "description": "Executes a pending order using client-provided signatures for the unsigned payloads",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Order ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order execution initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteOrderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/orders/{id}": {
      "delete": {
        "operationId": "cancelOrder",
        "tags": [
          "Orders"
        ],
        "summary": "Cancel a pending limit order",
        "description": "Submits a cancellation request for a pending limit order on CeFi.\n\nCancellation is asynchronous — the order moves to `cancel_pending` immediately,\nthen the order syncer reconciles the final state:\n- `cancelled` if the CeFi exchange confirms the cancellation\n- `complete` if the order filled before the cancel landed (race condition)\n\nOnly CeFi limit orders in `pending` or `active` status are cancellable.\nDeFi orders and market orders return 400.\n",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Order ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Cancellation request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/orders/{id}/status": {
      "get": {
        "operationId": "getOrderStatus",
        "summary": "Get order status",
        "description": "Returns the current status of an order",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Order ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrderStatusResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/transfers": {
      "post": {
        "operationId": "createTransfer",
        "summary": "Create new transfer",
        "description": "Creates a new on-chain transfer. Returns unsigned payloads for the client to sign before executing.",
        "tags": [
          "Transfers"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransferRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transfer created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "operationId": "listTransfers",
        "summary": "List user transfers",
        "description": "Returns a paginated list of transfers for the authenticated user",
        "tags": [
          "Transfers"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter by transfer status",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/TransferStatus"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of transfers to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transfers retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTransfersResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/transfers/{id}/execute": {
      "post": {
        "operationId": "executeTransfer",
        "summary": "Execute pending transfer",
        "description": "Executes a transfer in `awaiting_signature` status using client-provided signatures",
        "tags": [
          "Transfers"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Transfer ID (UUID)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteTransferRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfer execution initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/transfers/{id}": {
      "get": {
        "operationId": "getTransfer",
        "summary": "Get transfer by ID",
        "description": "Returns the current state of a transfer",
        "tags": [
          "Transfers"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Transfer ID (UUID)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transfer retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/assets": {
      "get": {
        "operationId": "listAssets",
        "tags": [
          "Assets"
        ],
        "summary": "List tradeable assets",
        "description": "Returns a unified catalog of all active tradeable assets across DeFi and CeFi venues",
        "security": [],
        "parameters": [
          {
            "name": "venue",
            "in": "query",
            "description": "Filter by trading venue",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Venue"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Assets retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAssetsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/balances/unified": {
      "get": {
        "operationId": "listBalances",
        "tags": [
          "Balances"
        ],
        "summary": "List balances",
        "description": "Returns unified balances across CeFi and DeFi for the authenticated user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Balances retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBalancesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/balances": {
      "get": {
        "operationId": "getBalances",
        "summary": "Get user balances",
        "description": "Returns balances for the authenticated user",
        "tags": [
          "Balances"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Balances retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalancesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InternalError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "OrderSide": {
        "type": "string",
        "enum": [
          "buy",
          "sell"
        ],
        "example": "buy",
        "description": "The side of the order.\n* **buy** — Purchase the base asset using the quote asset.\n* **sell** — Sell the base asset in exchange for the quote asset.\n"
      },
      "OrderType": {
        "type": "string",
        "enum": [
          "market",
          "limit"
        ],
        "example": "market",
        "description": "The type of order to place.\n* **market** — Execute immediately at the best available price. Buy orders require `qty_unit: quote`. Price must not be specified.\n* **limit** — Place an order at a specific price. Requires `price` and `qty_unit: base`. Only supported on CeFi; `chain` must not be specified.\n"
      },
      "OrderStatus": {
        "type": "string",
        "enum": [
          "initialized",
          "pending",
          "cancel_pending",
          "complete",
          "canceled",
          "active",
          "failed"
        ],
        "example": "complete",
        "description": "The current status of the order.\n* **initialized** — Order has been created but not yet submitted. For DeFi orders, the client must sign the returned payloads and call the execute endpoint. For CeFi buy orders with insufficient balance, a funding bridge is prepared first.\n* **pending** — Order has been submitted but is not yet confirmed by the CeFi exchange or on-chain.\n* **active** — Order was accepted by the CeFi exchange and is open for trading. Applies to limit orders that are working in the order book.\n* **cancel_pending** — A cancellation request has been sent to the CeFi exchange and is awaiting confirmation.\n* **complete** — Order has been fully executed. For CeFi orders this means the CeFi exchange reported a fill; for DeFi orders the on-chain swap was confirmed.\n* **canceled** — Order was successfully canceled via a cancel request or by exchange/market conditions.\n* **failed** — Order was rejected by the CeFi exchange or DeFi execution failed (e.g. on-chain transaction reverted, balance check failed).\n"
      },
      "SigningMethod": {
        "type": "string",
        "enum": [
          "web_authn",
          "api_key"
        ],
        "example": "api_key",
        "description": "The authentication method used to sign transaction payloads.\n* **web_authn** — Signed using a passkey (WebAuthn/FIDO2 credential) via the browser.\n* **api_key** — Signed using an API key. Suitable for programmatic/headless access.\n"
      },
      "Chain": {
        "type": "string",
        "enum": [
          "solana",
          "base"
        ],
        "example": "solana",
        "description": "The blockchain network for DeFi orders. Omit for CeFi orders.\n* **solana** — Execute the swap on the Solana blockchain.\n* **base** — Execute the swap on the Base (Ethereum L2) blockchain.\n"
      },
      "Venue": {
        "type": "string",
        "enum": [
          "defi",
          "cefi"
        ],
        "example": "defi",
        "description": "The trading venue to filter by.\n* **defi** — Decentralized exchange (on-chain swaps).\n* **cefi** — Centralized exchange (off-chain order book).\n"
      },
      "QuoteRequest": {
        "type": "object",
        "description": "Request to compute a market quote",
        "required": [
          "base_asset",
          "quote_asset",
          "qty",
          "qty_unit",
          "side"
        ],
        "properties": {
          "base_asset": {
            "type": "string",
            "description": "Base asset identifier (e.g. `BTC`, `ETH`, `SOL`)",
            "example": "BTC"
          },
          "quote_asset": {
            "type": "string",
            "description": "Quote asset identifier (e.g. `USD`, `USDC`)",
            "example": "USD"
          },
          "qty": {
            "type": "string",
            "description": "Quantity as a positive decimal string",
            "example": "0.5"
          },
          "qty_unit": {
            "type": "string",
            "enum": [
              "base",
              "quote"
            ],
            "description": "Unit of the quantity.\n* **base** — Quantity is denominated in the base asset (e.g. 0.5 BTC).\n* **quote** — Quantity is denominated in the quote asset (e.g. 1000 USD).\n",
            "example": "quote"
          },
          "side": {
            "$ref": "#/components/schemas/OrderSide"
          }
        }
      },
      "QuoteResponse": {
        "type": "object",
        "description": "Quote computation result with the expected output quantity and execution price",
        "properties": {
          "qty": {
            "type": "string",
            "description": "Expected output quantity as a decimal string. For a buy order this is the amount of base asset received; for a sell order it is the amount of quote asset received.",
            "example": "0.01485"
          },
          "price": {
            "type": "string",
            "description": "Effective execution price per unit of base asset as a decimal string",
            "example": "67340.25"
          }
        }
      },
      "CreateOrderRequest": {
        "type": "object",
        "description": "Request to create a new order.\n\n**Limit orders** (`type: limit`):\n- `price` is required and must be a positive decimal string\n- `qty_unit` must be `base`\n- `chain` is not supported (CeFi only)\n\n**Market orders** (`type: market`):\n- `price` is not accepted\n- Buy orders require `qty_unit: quote`\n- Sell orders accept `qty_unit: base` or `qty_unit: quote`\n- `chain` is optional (omit for CeFi, include for DeFi)\n",
        "required": [
          "base_asset",
          "quote_asset",
          "qty",
          "qty_unit",
          "type",
          "side"
        ],
        "properties": {
          "base_asset": {
            "type": "string",
            "description": "Asset symbol for CeFi (e.g. `BTC`); token contract address on `chain` for DeFi.",
            "example": "BTC"
          },
          "quote_asset": {
            "type": "string",
            "description": "Asset symbol for CeFi (e.g. `USDC`); token contract address on `chain` for DeFi.",
            "example": "USD"
          },
          "qty": {
            "type": "string",
            "description": "Quantity as a positive decimal string",
            "example": "100"
          },
          "price": {
            "type": "string",
            "description": "Limit price per unit of base asset as a decimal string. Required for limit orders; must not be sent for market orders.\n",
            "example": "67500.00"
          },
          "qty_unit": {
            "type": "string",
            "enum": [
              "base",
              "quote"
            ],
            "description": "Unit of the quantity.\n* **base** — Quantity is denominated in the base asset. Required for limit orders. Supported for market sell orders.\n* **quote** — Quantity is denominated in the quote asset. Required for market buy orders. For DeFi sell orders, `base` must be used instead.\n",
            "example": "quote"
          },
          "type": {
            "$ref": "#/components/schemas/OrderType"
          },
          "side": {
            "$ref": "#/components/schemas/OrderSide"
          },
          "chain": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Chain"
              }
            ],
            "description": "Blockchain network for DeFi orders. Omit for CeFi orders. Not supported for limit orders.\n"
          }
        }
      },
      "UnsignedPayload": {
        "type": "object",
        "description": "An unsigned transaction payload that the client must sign before executing the order. Sign each payload using your API key or WebAuthn credential, then submit the resulting stamps to the execute endpoint in the same order.\n",
        "required": [
          "digest",
          "payload"
        ],
        "properties": {
          "digest": {
            "type": "string",
            "description": "SHA-256 hash of the payload, used as the signing input"
          },
          "payload": {
            "type": "string",
            "description": "Base64-encoded transaction payload to be signed"
          }
        }
      },
      "QuoteDetails": {
        "type": "object",
        "description": "Detailed quote information returned with DeFi order creation, showing expected swap output and fees",
        "properties": {
          "base_asset": {
            "type": "string",
            "description": "Base asset identifier (e.g. `SOL`, `ETH`)"
          },
          "quote_asset": {
            "type": "string",
            "description": "Quote asset identifier (e.g. `USDC`)"
          },
          "qty": {
            "type": "string",
            "description": "Input quantity as a decimal string — the amount being swapped from"
          },
          "qty_out": {
            "type": "string",
            "description": "Expected output quantity as a decimal string — the amount the user will receive after fees"
          },
          "fee": {
            "type": "string",
            "description": "Platform fee amount as a decimal string"
          },
          "fee_asset": {
            "type": "string",
            "description": "Asset in which the fee is denominated (e.g. `USDC`)"
          },
          "issues": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Warnings about the quote (e.g. high price impact, low liquidity). Empty when there are no issues."
          }
        }
      },
      "CreateOrderResponse": {
        "type": "object",
        "description": "Response from creating an order. For DeFi orders (and CeFi buy orders requiring a funding bridge), the response includes unsigned payloads that must be signed by the client and submitted via the execute endpoint. For CeFi sell orders and sufficiently funded CeFi buy orders, the order is submitted immediately and no payloads are returned.\n",
        "properties": {
          "order_id": {
            "type": "string",
            "description": "Unique order identifier"
          },
          "status": {
            "$ref": "#/components/schemas/OrderStatus"
          },
          "payloads": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UnsignedPayload"
            },
            "description": "Unsigned transaction payloads that the client must sign and return via the execute endpoint. Present for DeFi orders and CeFi buy orders that require a funding bridge. Empty or absent when the order is submitted immediately (e.g. CeFi sell orders).\n"
          },
          "quote": {
            "$ref": "#/components/schemas/QuoteDetails",
            "description": "DeFi orders only. For CeFi price previews, use `POST /quotes`."
          },
          "web_authn_payload": {
            "type": "string",
            "description": "WebAuthn payload (deprecated, use payloads instead)",
            "deprecated": true
          }
        }
      },
      "ExecuteOrderRequest": {
        "type": "object",
        "description": "Request to execute an order that is in `initialized` status. The client must sign each payload returned by the create endpoint and submit the signatures in the same order.\n",
        "required": [
          "signatures",
          "auth_type"
        ],
        "properties": {
          "signatures": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "description": "Signed stamps for the unsigned payloads, in the same order as the payloads returned by the create endpoint. Each signature corresponds to one payload.\n"
          },
          "auth_type": {
            "$ref": "#/components/schemas/SigningMethod"
          }
        }
      },
      "ExecuteOrderResponse": {
        "type": "object",
        "description": "Response from executing an order. For DeFi orders, a successful execution transitions the order directly to `complete`. For CeFi orders, the order moves to `pending` while it is processed by the CeFi exchange.\n",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/OrderStatus"
          }
        }
      },
      "GetOrderStatusResponse": {
        "type": "object",
        "description": "Order status response",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/OrderStatus"
          }
        }
      },
      "OrderDetail": {
        "type": "object",
        "description": "Order with execution data. Returned by the list orders endpoint for completed, canceled, and failed orders. Includes fill information from the CeFi exchange for CeFi orders.\n",
        "properties": {
          "order_id": {
            "type": "string",
            "description": "Unique order identifier"
          },
          "base_asset": {
            "type": "string",
            "description": "Base asset identifier (e.g. `BTC`, `ETH`, `SOL`)"
          },
          "quote_asset": {
            "type": "string",
            "description": "Quote asset identifier (e.g. `USD`, `USDC`)"
          },
          "type": {
            "$ref": "#/components/schemas/OrderType"
          },
          "side": {
            "$ref": "#/components/schemas/OrderSide"
          },
          "price": {
            "type": "string",
            "description": "For limit orders, the limit price submitted. For market orders, the reference price at order creation.\n"
          },
          "qty": {
            "type": "string",
            "description": "Original order quantity in the denomination specified by `qty_unit` at creation"
          },
          "executed_qty": {
            "type": "string",
            "description": "Quantity of the base asset that has been filled so far"
          },
          "leaves_qty": {
            "type": "string",
            "description": "Remaining base asset quantity yet to be filled. Zero when the order is complete."
          },
          "executed_vwap": {
            "type": "string",
            "description": "Volume-weighted average price across all fills for this order"
          },
          "status": {
            "$ref": "#/components/schemas/OrderStatus"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the order was created (RFC 3339)"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "description": "Cursor-based pagination metadata",
        "properties": {
          "next_cursor": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "description": "RFC3339 timestamp cursor for next page, null if no more data"
          },
          "limit": {
            "type": "integer",
            "description": "Number of items per page"
          }
        }
      },
      "GetOrdersResponse": {
        "type": "object",
        "description": "Paginated list of orders with execution data",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderDetail"
            },
            "description": "List of orders"
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "Balance": {
        "type": "object",
        "description": "Balance for a single asset",
        "properties": {
          "asset_name": {
            "type": "string",
            "description": "Human-readable asset name"
          },
          "asset_id": {
            "type": "string",
            "description": "Asset identifier"
          },
          "balance": {
            "type": "string",
            "description": "Balance amount as decimal string"
          }
        }
      },
      "BalancesResponse": {
        "type": "object",
        "description": "User balances response",
        "properties": {
          "balances": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Balance"
            },
            "description": "List of asset balances"
          }
        }
      },
      "ListBalancesResponse": {
        "type": "object",
        "description": "Unified balances across CeFi and DeFi venues",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BalanceItem"
            },
            "description": "List of asset balances"
          }
        }
      },
      "BalanceItem": {
        "type": "object",
        "description": "A single asset balance on a specific venue",
        "properties": {
          "symbol": {
            "type": "string",
            "description": "Asset ticker symbol (e.g. BTC, USDC)"
          },
          "name": {
            "type": "string",
            "description": "Human-readable asset name"
          },
          "chain": {
            "type": [
              "string",
              "null"
            ],
            "description": "Blockchain network (\"solana\", \"base\"), or null for exchange-held assets"
          },
          "address": {
            "type": [
              "string",
              "null"
            ],
            "description": "Token contract/mint address, or null for exchange-held assets"
          },
          "decimals": {
            "type": "integer",
            "description": "Display precision (e.g. 8 for BTC, 6 for USDC)"
          },
          "total": {
            "type": "string",
            "description": "Gross balance including held amounts (decimal string)"
          },
          "available": {
            "type": "string",
            "description": "Usable balance after holds (decimal string)"
          },
          "held": {
            "type": "string",
            "description": "Amount locked in orders or transfers (decimal string)"
          },
          "stable": {
            "type": "boolean",
            "description": "Whether this is a stablecoin"
          },
          "tradeable": {
            "type": "boolean",
            "description": "Whether this asset is active for trading"
          }
        }
      },
      "AssetImage": {
        "type": "object",
        "description": "Asset image URLs at various resolutions",
        "properties": {
          "thumb": {
            "type": "string"
          },
          "small": {
            "type": "string"
          },
          "large": {
            "type": "string"
          }
        }
      },
      "AssetMarketData": {
        "type": "object",
        "description": "Supply-side market data",
        "properties": {
          "circulating_supply": {
            "type": "integer",
            "format": "int64"
          },
          "total_supply": {
            "type": "integer",
            "format": "int64"
          },
          "max_supply": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "AssetSocials": {
        "type": "object",
        "description": "Social media links",
        "properties": {
          "x_username": {
            "type": "string"
          },
          "facebook_username": {
            "type": "string"
          },
          "subreddit_url": {
            "type": "string"
          },
          "official_forum_url": {
            "type": "string"
          }
        }
      },
      "AssetNetwork": {
        "type": "object",
        "description": "A deposit network for a cefi asset, with any additional networks whose deposits route to the same address",
        "required": [
          "network",
          "compatible_networks"
        ],
        "properties": {
          "network": {
            "type": "string"
          },
          "compatible_networks": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AssetItem": {
        "type": "object",
        "description": "A single tradeable asset",
        "required": [
          "networks"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Canonical asset identifier (spot_assets UUID)"
          },
          "chain": {
            "type": [
              "string",
              "null"
            ],
            "description": "Blockchain network (null for CeFi assets)"
          },
          "address": {
            "type": [
              "string",
              "null"
            ],
            "description": "Token contract address (null for CeFi assets)"
          },
          "symbol": {
            "type": "string",
            "description": "Asset ticker symbol (e.g. BTC, SOL)"
          },
          "name": {
            "type": "string",
            "description": "Human-readable asset name"
          },
          "decimals": {
            "type": "integer",
            "minimum": 0,
            "maximum": 255,
            "description": "Token decimal precision"
          },
          "slug": {
            "type": "string",
            "description": "URL-safe asset identifier"
          },
          "is_active": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "website": {
            "type": "string"
          },
          "icon": {
            "type": [
              "string",
              "null"
            ],
            "description": "Icon image URL"
          },
          "tradeable": {
            "type": "boolean",
            "description": "Whether this asset can be traded directly"
          },
          "stable": {
            "type": "boolean",
            "description": "Whether this is a stablecoin"
          },
          "venue": {
            "$ref": "#/components/schemas/Venue"
          },
          "image": {
            "$ref": "#/components/schemas/AssetImage"
          },
          "market_data": {
            "$ref": "#/components/schemas/AssetMarketData"
          },
          "socials": {
            "$ref": "#/components/schemas/AssetSocials"
          },
          "networks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AssetNetwork"
            }
          }
        }
      },
      "ListAssetsResponse": {
        "type": "object",
        "description": "Paginated list of tradeable assets",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AssetItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "TransferStatus": {
        "type": "string",
        "enum": [
          "awaiting_signature",
          "pending",
          "completed",
          "failed"
        ],
        "example": "pending",
        "description": "The current status of the transfer.\n* **awaiting_signature** — Transfer has been created and is waiting for the client to sign the unsigned payloads and call the execute endpoint.\n* **pending** — Signed transaction has been submitted and is awaiting on-chain confirmation.\n* **completed** — Transfer has been confirmed on-chain.\n* **failed** — Transfer failed due to an on-chain error or rejection.\n"
      },
      "CreateTransferRequest": {
        "type": "object",
        "description": "Request to create a new on-chain transfer",
        "required": [
          "asset_id",
          "qty",
          "qty_unit",
          "to"
        ],
        "properties": {
          "asset_id": {
            "type": "string",
            "format": "uuid",
            "description": "Asset identifier (UUID)",
            "example": "b3d9e5f2-1a4c-4e7b-9f0d-2c8a6b3e5f91"
          },
          "qty": {
            "type": "string",
            "description": "Transfer quantity as a positive decimal string",
            "example": "100.00"
          },
          "qty_unit": {
            "type": "string",
            "enum": [
              "base",
              "quote"
            ],
            "description": "Unit of the quantity.\n* **base** — Quantity is denominated in the base asset.\n* **quote** — Quantity is denominated in the quote asset.\n",
            "example": "base"
          },
          "to": {
            "type": "string",
            "description": "Destination wallet address",
            "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
          }
        }
      },
      "ExecuteTransferRequest": {
        "type": "object",
        "description": "Request to execute a transfer that is in `awaiting_signature` status. The client must sign each payload returned by the create endpoint and submit the signatures in the same order.\n",
        "required": [
          "signatures",
          "auth_type"
        ],
        "properties": {
          "signatures": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "description": "Signed stamps for the unsigned payloads, in the same order as the payloads returned by the create endpoint.\n"
          },
          "auth_type": {
            "$ref": "#/components/schemas/SigningMethod"
          }
        }
      },
      "TransferDetail": {
        "type": "object",
        "description": "Canonical representation of a transfer.",
        "required": [
          "id",
          "status",
          "venue",
          "asset_id",
          "asset_symbol",
          "chain",
          "to",
          "qty",
          "qty_unit",
          "sent",
          "fee",
          "received",
          "tx_hash",
          "payloads",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique transfer identifier"
          },
          "status": {
            "$ref": "#/components/schemas/TransferStatus"
          },
          "venue": {
            "type": "string",
            "description": "Trading venue (e.g. `defi`)"
          },
          "asset_id": {
            "type": "string",
            "format": "uuid",
            "description": "Asset identifier"
          },
          "asset_symbol": {
            "type": "string",
            "description": "Asset ticker symbol (e.g. `USDC`, `SOL`)"
          },
          "chain": {
            "type": [
              "string",
              "null"
            ],
            "description": "Blockchain network (e.g. `solana`, `base`), or null when the asset has no chain"
          },
          "to": {
            "type": "string",
            "description": "Destination wallet address"
          },
          "qty": {
            "type": "string",
            "description": "Transfer quantity as a decimal string"
          },
          "qty_unit": {
            "type": "string",
            "enum": [
              "base",
              "quote"
            ],
            "description": "Unit of the quantity"
          },
          "sent": {
            "type": "string",
            "description": "Amount sent as a decimal string"
          },
          "fee": {
            "type": "string",
            "description": "Fee as a decimal string"
          },
          "received": {
            "type": "string",
            "description": "Amount received as a decimal string"
          },
          "tx_hash": {
            "type": "string",
            "description": "On-chain transaction hash"
          },
          "payloads": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UnsignedPayload"
            },
            "description": "Unsigned transaction payloads for the client to sign. Present when status is `awaiting_signature`; empty array after execution.\n"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the transfer was created (RFC 3339)"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the last status update (RFC 3339)"
          }
        }
      },
      "ListTransfersResponse": {
        "type": "object",
        "description": "Paginated list of transfers",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransferDetail"
            },
            "description": "List of transfers"
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Error response",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  }
}